<<<<<<< Updated upstream
ody {
=======
body {
>>>>>>> Stashed changes
  font-family: Arial;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}
<<<<<<< Updated upstream
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
=======
>>>>>>> Stashed changes
.foto {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card {
  width: 250px;
  padding: 15px;
  border-radius: 15px;
  background-color: #f4f4f4;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
}

.container {
  display: flex;
  gap: 20px;
}